{% extends 'base.html'%}
{% load static %}
{% block style %} 
<link rel="stylesheet" href="{%static 'css/carousel.css'%}">
{%endblock%}
{% block title %} vitrine des produits {% endblock %}
{% block content %}
    <br><br><br><br><br>
    <form method="POST" class="post-form">
        {% csrf_token %}
        <div class="container">
            <div style="overflow-x: scroll;overflow-y:hidden;">
                <table class="table table-striped-columns">
                    <tr>
                        {% for article in list %}
                            <td>
                                <img src = '/media/{{ article.img }}' class="rounded float-start" height="200px" width="200px" alt="">
                                <figcaption class="figure-caption"> {{ article.libelle }} </figcaption>
                                <p> {{ article.img }}</p>
                                <p> {{ article.prix }}Dt</p>              
                            </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    </form>
    
{% endblock %}