{%extends 'baseBlog.html'%}
{%load static%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Détails du Post</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.css'}%">
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Détails du Post : {{ post.title }}</h1>
    <table class="table  table-hover">
        <tr>
            <td>Auteur : </td>
            <td>{{ post.author }}</td>
        </tr>
        <tr>
            <td>Auteur.id : </td>
            <td>{{post.author.id}}</td>
        </tr>
        <tr>
            <td>Date de création : </td>
            <td>{{ post.created_on }}</td>
        </tr>
        <tr>
            <td>Content: </td>
            <td>{{post.content}}</td>
        </tr>
        {% if post.image %}
            <tr>
                <td>
                    Image : 
                </td>
                <td>
                    <img src="/media/{{post.image}}"/>
                </td>
            </tr>
        {% endif %}
        {% if user.is_authenticated %}
            <tr>
                <td>
                    <button type="button" class="btn btn-outline-secondary" href=""><a href="{%url 'modifier_post' post.pk%}" style="text-decoration: none;color: black;">modifier post</a></button>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-danger"><a href="{%url 'supprimer_post' post.pk%}" style="text-decoration: none;color: black;">supprimer post</a></button>
                </td>
            </tr>   
        {%endif%}
    </table>
</body>
</html>
{%endblock%}